<section id="chat">
  <h3>Chat</h3>
  <ul>
    <li class="out">Hey</li>
    <li class="in">Hoi</li>
  </ul>
  <form autocomplete="off" name="form" (ngSubmit)="f.form.valid && send()" #f="ngForm" novalidate>
        
    <div class="field-wrap" [ngClass]="{ 'has-error': f.submitted && !message.valid }">
      <input type="text" id="message" name="message" [(ngModel)]="model.message" #message="ngModel" required/>
    </div>

    <button class="button button-block" (click)="send()">Send</button>
  </form>
</section>