main{
  margin: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.block{
  position: relative;
  top: 50%;
  left: 50%;
  width: 600px;
  transform: translate(-50%, -50%);
}

.block h3{
  padding-bottom: 15px;
  border-bottom: solid 1px #000;
}

.block p{

}

.block a{
  margin-top: 30px;
}