<footer>
  <div class="container">
    <div class="row options">
      <div class="col s3">
        logo
      </div>
      <div class="col s3">

      </div>
      <div class="col s3">
        <ul>
          <li>Check out:</li>
          <li><a>Projects</a></li>
          <li><a>Policy</a></li>
        </ul>
      </div>
      <div class="col s3">
        <ul>
          <li>Contact info:</li>
          <li><a href="tel:06-36130338">06-36130338</a></li>
          <li><a href="mailto:marijnds@gmail.com">marijnds@gmail.com</a></li>
          <li><a href="https://www.linkedin.com/in/marijn-de-smit/">Linkedin</a></li>
          <li><a href="https://discord.gg/YmACNTa5">Discord</a></li>
        </ul>
      </div>
    </div>
    <div class="row rights">
      Copyright
    </div>
  </div>
</footer>