
header{
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #13232fe6;
  padding: 20px;
}

header .logo{
  color: #fff;
  float: left;
}

header ul{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
}

header li{
  float: left;
  margin-left: 20px;
}

header a{
  padding: 5px;
  color: #fff;
  transition: 0.2s ease-in-out color;
}

header a:hover{
  color: #BF0000;
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}