<app-header></app-header>
<main id="contact" class="container">
  <div class="row title">
    <h2>Contact</h2>
  </div>
  <form class="row" autocomplete="off" name="form" (ngSubmit)="f.form.valid && send()" #f="ngForm" novalidate>
    
    <mat-form-field class="col-sm-6" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
      <mat-label> Name </mat-label>
      <input matInput type="text" id="name" name="name" [(ngModel)]="model.name" #name="ngModel" required/>
    </mat-form-field>

    <mat-form-field class="col-sm-6" [ngClass]="{ 'has-error': f.submitted && !mail.valid }">
      <mat-label> Email Address </mat-label>
      <input matInput type="mail" id="mail" name="mail" [(ngModel)]="model.mail" #mail="ngModel" required/>
    </mat-form-field>

    <mat-form-field class="col-sm-6" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
      <mat-label>  Phone number </mat-label>
      <input matInput type="number" id="phone" name="phone" [(ngModel)]="model.phone" #phone="ngModel" required/>
    </mat-form-field>

    <mat-form-field class="col-sm-6">
      <mat-label> Subject </mat-label>
      <select matNativeControl id="subject" [(ngModel)]="model.subject" name="subject">
        <option value="" selected disabled hidden>Choose a subject</option>
        <option *ngFor="let type of subjects | enumToArray">{{type}}</option>
      </select>
    </mat-form-field>
    
    <mat-form-field class="col-12" [ngClass]="{ 'has-error': f.submitted && !message.valid }">
      <mat-label> Message </mat-label>
      <textarea matInput id="message" name="message" [(ngModel)]="model.message" #message="ngModel" required></textarea>
    </mat-form-field>

    <div class="col-sm-6">
      <mat-checkbox id="terms" name="terms" [(ngModel)]="model.terms">I agree the the privacy terms</mat-checkbox>   
    </div>
    <div class="col-sm-6">
      <button mat-raised-button (click)="send()">Send</button>
    </div>
  </form>
</main>
<app-footer></app-footer>