<app-header></app-header>
<main id="timeline" class="container">
  <div class="row title">
    <div class="col s12">
      <h2>Timeline</h2>
    </div>
  </div>
  <div class="row navigation">
    <div class="previous"></div>
    <ul>
      <li>Previous</li>
      <li>Current</li>
      <li>Next</li>
    </ul>
    <div class="next"></div>
  </div>
  <div class="row content">
    <div class="col s12">
      <h3>Passed my Minor!</h3>
      <p>Iets over hoe ik mijn Minor heb gehaald...</p>
    </div>
  </div>
</main>
<app-footer></app-footer>