<app-header></app-header>
<main id="policy" class="container">
  <div class="row title">
    <h3>Policy</h3>
    <h4>The ins and outs of this site</h4>
  </div>
  <div class="row">
    <h5>header</h5>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a molestie est, ut aliquam turpis. Sed imperdiet libero quam, eu dapibus turpis facilisis sed. Phasellus faucibus imperdiet tortor in accumsan. Suspendisse potenti. Nunc neque enim, pharetra sed sodales facilisis, ullamcorper in orci. Donec sagittis tincidunt urna, eget tempus tellus congue at. Cras commodo dolor mauris, eget vestibulum mi dapibus id. In placerat dui ac ligula laoreet consequat.
    <h6>sub header</h6>
Proin sollicitudin gravida mauris at dictum. Aliquam non pharetra est. Aenean eget vehicula turpis, sed efficitur ipsum. Aenean in mollis justo. Praesent in tincidunt quam. Etiam pretium facilisis ultricies. Pellentesque dapibus lacinia odio, vel blandit urna fermentum eget. Nunc congue, mauris eget elementum gravida, lorem urna vehicula enim, nec viverra orci nibh eu ex. Nullam pretium suscipit nisi, et dictum nibh vehicula vitae. Aliquam sed arcu sit amet enim accumsan tempus vitae vel arcu.

Ut fringilla ligula purus, et mollis sapien varius eu. Praesent eget leo laoreet, semper augue ac, blandit lorem. Nulla vitae odio venenatis, vulputate risus non, iaculis velit. Donec at faucibus velit. In tempor ipsum lectus, in feugiat purus egestas ac. Ut commodo eu nisi vel varius. Nulla lobortis, arcu a varius tempor, tellus elit auctor est, sed pellentesque turpis diam rutrum enim. Quisque at lectus pretium, pretium ligula et, facilisis neque. Duis convallis neque ligula, vitae aliquam magna imperdiet vel. Sed eget velit at felis tempus eleifend. Mauris in nibh id nisl vehicula venenatis. Quisque aliquam aliquet laoreet.

Sed erat lectus, ultricies vitae turpis a, dapibus cursus metus. Nunc dolor sapien, scelerisque eu nisl at, imperdiet pretium leo. Mauris sapien ante, aliquet id nisi quis, volutpat vestibulum dolor. Aliquam pellentesque lectus ac lorem iaculis, quis dictum nisi tempor. Suspendisse potenti. Maecenas ac consequat tortor. Sed sollicitudin nisi tortor, at maximus velit pellentesque sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique diam et consectetur eleifend. Vestibulum eu augue pellentesque, faucibus enim vel, pellentesque turpis. Donec eu tortor in ligula auctor auctor a sed eros. Aliquam vulputate purus eros, sit amet consequat justo dapibus eu.

Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis tellus non leo dapibus facilisis. Ut interdum dapibus leo vel ultricies. Aliquam erat volutpat. Donec nec dapibus magna, quis aliquam purus. Donec ornare, lacus sed dapibus bibendum, lectus turpis cursus massa, ut rhoncus nibh ligula nec mi. Sed bibendum posuere mauris. Nulla facilisi. In sed vulputate massa. Aliquam eleifend nisl ac suscipit egestas.
  </div>
</main>
<app-footer></app-footer>