#company{
  padding: 120px 0;
  text-align: center;
}

#company h2{
  margin: 0 0 60px 0;
}

#company .item{
  position: relative;
  padding: 0 15px;
  margin-bottom: 30px;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
}

#company .item:hover{
  transform: translateY(-15px);
}

#company a{
  display: block;
  color: #000;
}

#company .item img{
  width: 100%;
  margin-bottom: 15px;
}

#company .item h5{
  font-size: 18px;
  margin: 0;
}

#company .item .hover{
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: 15px;
  bottom: 35px;
  right: 15px;
  background-color: rgba(0,0,0,0.2);
  color: #fff;
  transition: 0.2s ease-in-out;
  transition-property: opacity, visibility;
}

#company .item:hover .hover{
  opacity: 1;
  visibility: visible;
}

#company .hover .vertical-align{
  width: 100%;
  text-align: center;
}

#company .hover p{

}

#company .hover a{
  
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}