main{
  height: 100vh;
  width: 100vw;
  margin-top: 0 !important;
  padding: 0;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;
  transition-property: opacity visibility;
}

main.active{
  opacity: 1;
  visibility: visible;
}

.content{
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.close{
  
}

h3{

}

p{

}

button{

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}