<app-header></app-header>
<main id="project" class="container">
  <div class="row title">
    <div class="col s12">
      <h2>Project detail</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      general
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="context">
        <div>
          <h4>Details</h4>
          <p>Sed blandit diam at metus consectetur, non feugiat sem tincidunt. Vivamus accumsan semper urna ac lobortis. Suspendisse potenti.</p>
        </div>
        <div>
          <h4>Details</h4>
          <p>Vivamus maximus ante est, sed scelerisque dolor congue finibus. Phasellus lacinia tortor quis tellus suscipit, sed molestie enim tempus. Praesent eget congue neque. Nulla rutrum, nisl molestie ultrices elementum, eros erat pharetra orci, ac consequat sem nulla ut nisi. </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="preview">
        <div><a href="#"><img src="https://via.placeholder.com/600x600"/></a></div>
        <div><a href="#"><img src="https://via.placeholder.com/600x600"/></a></div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>