
#project{
  padding: 120px 0;
  text-align: center;
}

#project img{
  width: 100%;
}

#project .content{
  text-align: left;
  padding-left: 60px;
}

#project p{
  margin-bottom: 30px;
}

#project a{
  color: #000 !important;
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

  #project {
    padding: 90px 0;
    text-align: left;
  }

  #project h2{
    
  }

  #project img{
    display: none;
  }

  #project .content{
    padding-left: 15px;
  }
}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}