<div id="cookies">
  <h3>Have some cookies!</h3>
  <div>Thanks!</div>
  <div>What kind?</div>
  <ul class="options">
    <li>Here, choose your pick</li>
    <li>
      Functional
    </li>
    <li>
      Diagnostics
    </li>
  </ul>
</div>