<main id="login" class="form">
       
  <form class="row" autocomplete="off" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
  
    <mat-form-field class="col-12" [ngClass]="{ 'has-error': f.submitted && !mail.valid }">
      <mat-label> Email Address </mat-label>
      <input matInput type="mail" id="mail" name="mail" [(ngModel)]="model.mail" #mail="ngModel" required/>
    </mat-form-field>
    
    <mat-form-field class="col-12" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <mat-label> Password </mat-label>
      <input matInput type="password" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
    </mat-form-field>

    <button mat-raised-button (click)="login()">Log In</button>
  </form>
  <p class="error">{{errorMessage}}</p>
</main>