main{
}

.title{
  background-color: #333;
  color: #fff;
  padding: 90px 0 45px 0;
  position: relative;
}

.title:after{
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  height: 100%;
  width: 200vw;
  background-color: #333;
  z-index: -1;
}

.sub{
  background-color: #666;
  color: #fff;
  padding: 15px;
  position: relative;
}

.sub:after{
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  height: 100%;
  width: 200vw;
  background-color: #666;
  z-index: -1;
}

.img{
  height: 325px;
  width: 100%;
  background-color: #fff;
  background-image: url("/assets/images/cv.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
  padding-right: 30px;
  position: absolute;
  transform: translateY(-150px);
  z-index: 2;
}

h1, h2{
  padding-left: 30px;
  margin: 0;
}

h1{
  font-size: 90px;
  letter-spacing: 3px;
}

h2{
  font-size: 45px;
  letter-spacing: 1px;
}

h3{
  display: block;
  width: 100%;
  background-color: #666;
  color: #fff;
  font-size: 30px;
  padding: 8px 15px;
}

h4{

}

h4 span{
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
}

p{

}

.contact{
  padding: 15px;
  position: relative;
  margin-bottom: 70px;
}

.contact ul{
  padding-left: 30px;
}

.contact a{
  color: #333;
}

.stats{

}

.stats p{
  margin: 30px 0;
}

.stats ul{
  margin-bottom: 15px;
}

.stats li{
  font-size: 18px;
  margin-bottom: 15px;
}

.stats ul:not(:first-of-type) li{
  width: 50%;
  display: inline-block;
}

.info{
  padding-left: 60px;
}

.education{

}

.xp{

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}