<main id="cv" class="container">
  <div class="row title">
    <div class="col-sm-4">
      <div class="img"></div>
    </div>
    <div class="col-sm-8">
      <h1>Marijn de Smit</h1>
    </div>
  </div>
  <div class="row sub">
    <div class="offset-sm-4 col-sm-8">
      <h2>Fullstack Software Developer</h2>
    </div>
  </div>
  <div class="row contact">
    <div class="offset-sm-4 col-sm-8">
      <ul class="inline">
        <li>
          <a href="/home">Portfolio</a>
        </li>
        <li>
          <a href="tel:0636130338">06-36130338</a>
        </li>
        <li>
          <a href="mailto:marijnds@gmail.com">marijnds@gmail.com</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/marijn-de-smit/">LinkedIn</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 stats">
      <h3>Iets over mezelf</h3>
      <p>
        Ik zie mijzelf als een ijverige en flexibele student die altijd opzoek is om te leren.
        Uit ervaring weet ik dat je het meeste leert in de praktijk en kijk daarom uit naar de kans om stage te mogen lopen.
      </p>
      <h3>Vaardigheden</h3>
      <ul>
        <li>Communicatie</li>
        <li>Flexibiliteit</li>
        <li>Kritisch</li>
        <li>Gedreven</li>
        <li>Samenwerking</li>
        <li>Creatief</li>
      </ul>
      <h3>Talen</h3>
      <ul>
        <li>HTML / CSS</li>
        <li>SQL / NoSQL</li>
        <li>Javascript</li>
        <li>Typescript</li>
        <li>Java Spring</li>
        <li>ASP.NET</li>
      </ul>
      <h3>Methodieken</h3>
      <ul>
        <li>Agile</li>
        <li>SCRUM</li>
        <li>XP</li>
        <li>Kanban</li>
        <li>Waterval</li>
        <li>Adobe</li>
        <li>DevOps</li>
        <li>Security</li>
        <li>Microservices</li>
      </ul>
    </div>
    <div class="col-sm-8 info">
      <div class="row education">
        <h3>Opleiding</h3>
        <h4><span>2016 - HEDEN</span>Fontys Hogeschool ICT</h4>
        <p>
          Momenteel zit ik in mijn vierde en laatste leerjaar. 
          In die tijd heb ik veel geleerd op het gebied van talen, technieken, methodieken en ook de onderbouwende fases zoals analyseren, onderzoeken, testen en rapporteren. 
          Ook kreeg ik de kans om te kiezen uit specialisaties. 
          Tijdens mijn eerste specialisatie was ik gegaan voor Cyber Security en kreeg daar de basis over veelvoorkomende aanvalstechnieken en hoe je jezelf daartegen kunt verdedigen. 
          Voor de tweede specialisatie had ik Open Innovation gekozen. 
          Hierbij ging ik aan de slag met Gamedesign en Gamification. 
          Momenteel ben ik bezig met mijn Minor Financiële Planning. 
          Hier wordt alle fiscaliteit op het gebied van Eigen Woning en vermogen behandeld en leek mij heel handig om te weten.
        </p>
        <h4><span>2012 - 2016</span>ROC Tilburg Media Development</h4>
        <p>
          Na mijn Mavo heb ik gestudeerd als Webdeveloper. 
          Tijdens deze studie heb ik voornamelijk leren werken met front-end technieken zoals HTML, CSS en Javascript. 
          Ook heb ik gebruik leren maken van de Adobe programma’s. 
          Voornamelijk Photoshop, Illustrator en InDesign. 
          Verder heb ik anderhalf jaar ervaring opgedaan tijdens de stages en heb aan het eind van de rit mijn diploma weten te behalen.
        </p>
      </div>
      <div class="row xp">
        <h3>Ervaring</h3>
        <h4><span>2019 – 2020</span>Mr. Winston</h4>
        <p>
          Tijdens semester vijf op het Fontys heb ik stage gelopen bij Mr. Winston.
          Mijn opdracht was om een oplossing te produceren waarmee horeca ondernemers inzicht konden krijgen in de contact momenten die zij met hun klanten hadden. 
          Hiervoor heb ik een CRM ontwikkeld en draait nu ook mee in de productie.
        </p>
        <h4><span>2016 - 2019</span>WebSentiment</h4>
        <p>
          Tijdens mijn laatste jaar op het MBO ben ik bij WebSentiment begonnen als stagiair. 
          Daar werkte ik aan de front-end van websites en applicaties. 
          Na het behalen van mijn diploma ben ik daar gebleven om tijdens vakanties en weekenden als parttimer te werken.
        </p>
      </div>
    </div>
  </div>
</main>