<app-header></app-header>
<main id="donation" class="container">
  <div class="row title">
    <h2>Donations</h2>
  </div>
  <div class="row">
    <div class="col">
      If your in a generes mood and feel like helping me out ...
    </div>
  </div>
  <div class="row goals">
    <div class="col">
      <h3>Goals</h3>
      <p>I intent to use the funds for my projects....</p>
      <h4>Current Goal</h4>
      <div class="progress">28%</div>
      <h4>Upcoming Goals</h4>
      <ul>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>
        <li>Something</li>
      </ul>
    </div>
  </div>
  <div class="row donations">
    <div class="col-sm-6">
      paypal
    </div>
    <!-- <div class="col s6">ideal</div> -->
    <div class="col-sm-3">
      <h3>Top donators</h3>
      <ul>
        <li>
          John Johnson <span class="t3">€ 100,-</span>
          <p>message</p>
        </li>
        <li>
          Jan Janssen <span class="t2">€ 25,-</span>
          <p>message</p>
        </li>
        <li>
          Jan Janssen <span class="t1">€ 1,-</span>
          <p>message</p>
        </li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h3>Recent donators</h3>
      <ul>
        <li>
          John Johnson <span class="t3">€ 100,-</span>
          <p>message</p>
        </li>
        <li>
          Jan Janssen <span class="t2">€ 25,-</span>
          <p>message</p>
        </li>
        <li>
          Jan Janssen <span class="t1">€ 1,-</span>
          <p>message</p>
        </li>
      </ul>
    </div>
  </div>
</main>
<app-footer></app-footer>