.t1, .t2, .t3{
  font-weight: bold;
}

.t1{
  color: #AD8A56;
}

.t2{
  color: #D7D7D7;
}

.t2:after{

}

.t3{
  color: #C9B037;
}

.t3:after{

}

.goals{
  margin: 60px 0;
}

.goals .progress{
  text-align: center;
  font-size: 32px;
  color: #fff;
  height: 30px;
  background-color: #eee;
  position: relative;
}

.goals .progress:after{
  display: block;
  content: "";
  height: 100%;
  width: 28%;
  background-color: #333;
  position: absolute;
  top: 0;
}

.goals ul li:nth-child(2){
  opacity: 0.75;
}

.goals ul li:nth-child(3){
  opacity: 0.5;
}


.goals ul li:nth-child(4){
  opacity: 0.25;
}

.donations{
  
}

.donations ul{

}

.donations ul li{

}

.donations p{

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}