<app-header></app-header>

<!-- Dit moet in de header verwerkt worden -->
<div class="locale">
  <button mat-raised-button *ngFor="let item of schema" (click)="setLocale(item.locale)" class="btn">{{ item.text }}</button>
</div>

<main id="top">
  <section id="landing">
    <div class="title">
      <h2>The Portfolio of</h2>
      <h1>Marijn de Smit</h1>
    </div>
    <app-logo></app-logo>
    <div class="scroll"></div>
  </section>
  <section id="about" class="container">
    <div class="row title">
      <div class="col s12">
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s6">test</div>
      <div class="col s6">test</div>
    </div>
  </section>

  <section id="timeline" class="dark">
    <div class="container">
      <div class="row title">
        <div class="col s12">
          <h2>Timeline</h2>
        </div>
      </div>
      <div class="row">
        <div class="col s6 time">november 2020</div>
        <div class="col s6 description">Het opzetten van deze site</div>
        <div class="col s6 description">Minor Finianciele Planning</div>
        <div class="col s6 time">2020</div>
        <div class="col s6 time">2020</div>
        <div class="col s6 description">S6 afgerond</div>
      </div>
      <button mat-raised-button color="primary"class="btn" href="/timeline">More</button>
    </div>
  </section>

  <section id="projects" class="container">
    <div class="row title">
      <div class="col s12">
        <h2>Projects</h2>
      </div>
    </div>
    <div class="row highlights">
      <div class="col-sm-6">
        <p>Highlights</p>
        <div class="context">
          <div>
            <h4>PharmaPartners</h4>
            <p>Sed blandit diam at metus consectetur, non feugiat sem tincidunt. Vivamus accumsan semper urna ac lobortis. Suspendisse potenti.</p>
          </div>
          <div>
            <h4>Mr.Winston</h4>
            <p>Vivamus maximus ante est, sed scelerisque dolor congue finibus. Phasellus lacinia tortor quis tellus suscipit, sed molestie enim tempus. Praesent eget congue neque. Nulla rutrum, nisl molestie ultrices elementum, eros erat pharetra orci, ac consequat sem nulla ut nisi. </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="preview">
          <div><a href="#"><img src="https://via.placeholder.com/600x600"/></a></div>
          <div><a href="#"><img src="https://via.placeholder.com/600x600"/></a></div>
        </div>
      </div>
    </div>
    <div class="row animated fade-up">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="item">
          <a href="/project">
            <img src="https://via.placeholder.com/150"/>
            <h5>project</h5>
            <a class="logo" href="/company/">
              <img src="/src/assets/images/logos/fontys-white.png">
            </a>
          </a>
          <div class="hover">
            <div class="vertical-align">
              <p>About the project...</p>
              <a href="/project">Read more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="item">
          <img src="https://via.placeholder.com/150"/>
          <h5>project</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="item">
          <img src="https://via.placeholder.com/150"/>
          <h5>project</h5>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="item">
          <img src="https://via.placeholder.com/150"/>
          <h5>project</h5>
        </div>
      </div>
    </div>
    <a class="btn" href="/projects">More</a>
  </section>
</main>

<app-footer></app-footer>