<app-header></app-header>
<main id="doodles" class="container">
  <div class="row title">
    <h2>Doodles</h2>
  </div>
  <div class="row">
    <div class="col s12">
    </div>
  </div>
</main>
<app-footer></app-footer>