
.logo {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  height: 100vh;
  overflow: hidden;
}

.logo .circles,
.logo .cubes,
.logo .connections {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
}

.circles li{
  height: 135px;
  width: 135px;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 8px 0 #fff;
}

.circles.Ver{
  transform: translate(-50%, -50%) rotate(0deg);
}

.HorLeft {
  transform: translate(-50%, -50%) rotate(60deg);
}

.HorRight {
  transform: translate(-50%, -50%) rotate(120deg);
}

.cubes li {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 20px 0 #fff;
}

.Outer li{
  height: 6px;
  width: 275px;   
}

.Outer li:nth-child(1) {
  margin: -203px 114px;
  transform: translate(-50%, -50%) rotate(30deg);
}

.Outer li:nth-child(2){
  margin: 0px 230px;
  transform: translate(-50%, -50%) rotate(90deg);
}

.Outer li:nth-child(3) {
  margin: 205px 115px;
  transform: translate(-50%, -50%) rotate(150deg);
}

.Outer li:nth-child(4) {
  margin: 204px -120px;
  transform: translate(-50%, -50%) rotate(210deg);
}

.Outer li:nth-child(5) {
  margin: 0px -237px;
  transform: translate(-50%, -50%) rotate(90deg);
}

.Outer li:nth-child(6) {
  margin: -202px -119px;
  transform: translate(-50%, -50%) rotate(330deg);
}

.Outer li:nth-child(7) {
  margin: 135px 0;
  transform: translate(-50%, -50%) rotate(90deg);
}

.Outer li:nth-child(8) {
  margin: -67px -117px;
  transform: translate(-50%, -50%) rotate(30deg);
}

.Outer li:nth-child(9) {
  margin: -67px 115px;
  transform: translate(-50%, -50%) rotate(150deg);
}

.Inner li{
  height: 3px;
  width: 140px;
}

.Inner li:nth-child(1) {
  margin: -99px 61px;
  transform: translate(-50%, -50%) rotate(30deg);
}

.Inner li:nth-child(2){
  margin: 0px 120px;
  transform: translate(-50%, -50%) rotate(90deg);
}

.Inner li:nth-child(3) {
  margin: 105px 61px;
  transform: translate(-50%, -50%) rotate(150deg);
}

.Inner li:nth-child(4) {
  margin: 105px -59px;
  transform: translate(-50%, -50%) rotate(210deg);
}

.Inner li:nth-child(5) {
  margin: 0 -118px;
  transform: translate(-50%, -50%) rotate(90deg);
}

.Inner li:nth-child(6) {
  margin: -99px -57px;
  transform: translate(-50%, -50%) rotate(330deg);
}

.connections li {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 2px 0 #fff;
}

.connections.Ver li{
  width: 2px;
}

.connections.Ver li:nth-child(1) {
  height: 545px;
  margin: -272px -1px;
  transform: rotate(0deg);
}

.connections.Ver li:nth-child(2){
  height: 473px;
  margin: -167px 115px;
  transform: rotate(30deg);
}

.connections.Ver li:nth-child(3) {
  height: 473px;
  margin: -167px -120px;
  transform: rotate(-30deg);
}

.connections.Ver li:nth-child(4) {
  height: 355px;
  margin: -80px -62px;
  transform: rotate(-19deg);
}

.connections.Ver li:nth-child(5) {
  height: 355px;
  margin: -76px 59px;
  transform: rotate(20deg);
}

.connections.Ver li:nth-child(6) {
  height: 473px;
  margin: -302px 113px;
  transform: rotate(-30deg);
}

.connections.Ver li:nth-child(7) {
  height: 473px;
  margin: -302px -118px;
  transform: rotate(30deg);
}

.connections.Ver li:nth-child(8) {
  height: 355px;
  margin: -275px 59px;
  transform: rotate(-20deg);
}

.connections.Ver li:nth-child(9) {
  height: 355px;
  margin: -275px -60px;
  transform: rotate(19deg);
}

.connections.Hor li{
  height: 2px;
}

.connections.Hor li:nth-child(1) {
  width: 473px;
  margin: -135px -240px;
  transform: rotate(0deg);
}

.connections.Hor li:nth-child(2) {
  width: 473px;
  margin: 135px -240px;
  transform: rotate(0deg);
}

.connections.Hor li:nth-child(3) {
  width: 360px;
  margin: -102px -240px;
  transform: rotate(11deg);
}

.connections.Hor li:nth-child(4) {
  width: 360px;
  margin: 1px -296px;
  transform: rotate(49deg);
}

.connections.Hor li:nth-child(5) {
  width: 360px;
  margin: 0px -297px;
  transform: rotate(-49deg);
}

.connections.Hor li:nth-child(6) {
  width: 360px;
  margin: 103px -239px;
  transform: rotate(-10deg);
}

.connections.Hor li:nth-child(7) {
  width: 360px;
  margin: 102px -124px;
  transform: rotate(11deg);
}

.connections.Hor li:nth-child(8) {
  width: 360px;
  margin: 2px -64px;
  transform: rotate(50deg);
}

.connections.Hor li:nth-child(9) {
  width: 360px;
  margin: -100px -123px;
  transform: rotate(-11deg);
}

.connections.Hor li:nth-child(10) {
  width: 360px;
  margin: 3px -67px;
  transform: rotate(-49deg);
}

.lights{
  height: 100vh;
  width: 100vw;
}

.lights li{
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 50%; 
  transition: 0.2s linear;
  transition-property: background-color, width;
}

.lights li:nth-child(10) {
  height: 100%;
  width: 100%;
  padding: 100%;
}

.lights li:nth-child(9) {
  height: 90%;
  width: 90%;
  padding: 90%;
}

.lights li:nth-child(8) {
  height: 80%;
  width: 80%;
  padding: 80%;
}

.lights li:nth-child(7) {
  height: 70%;
  width: 70%;
  padding: 70%;
}

.lights li:nth-child(6) {
  height: 60%;
  width: 60%;
  padding: 60%;
}

.lights li:nth-child(6) {
  height: 50%;
  width: 50%;
  padding: 50%;
}

.lights li:nth-child(4) {
  height: 40%;
  width: 40%;
  padding: 40%;
}

.lights li:nth-child(3) {
  height: 30%;
  width: 30%;
  padding: 30%;
}

.lights li:nth-child(2) {
  height: 20%;
  width: 20%;
  padding: 20%;
}

.lights li:nth-child(1) {
  height: 10%;
  width: 10%;
  padding: 10%;
}

.lights.hidden{
  display: none;
}

.lights li.pulse{
  background-color: rgba(255, 255, 255, 0.02);
}

.lights li.pulse:nth-child(10) {
  height: 110%;
  width: 110%;
  padding: 110%;
}

.lights li.pulse:nth-child(9) {
  height: 100%;
  width: 100%;
  padding: 100%;
}

.lights li.pulse:nth-child(8) {
  height: 90%;
  width: 90%;
  padding: 90%;
}

.lights li.pulse:nth-child(7) {
  height: 80%;
  width: 80%;
  padding: 80%;
}

.lights li.pulse:nth-child(6) {
  height: 70%;
  width: 70%;
  padding: 70%;
}

.lights li.pulse:nth-child(6) {
  height: 60%;
  width: 60%;
  padding: 60%;
}

.lights li.pulse:nth-child(4) {
  height: 50%;
  width: 50%;
  padding: 50%;
}

.lights li.pulse:nth-child(3) {
  height: 40%;
  width: 40%;
  padding: 40%;
}

.lights li.pulse:nth-child(2) {
  height: 30%;
  width: 30%;
  padding: 30%;
}

.lights li.pulse:nth-child(1) {
  height: 20%;
  width: 20%;
  padding: 20%;
}