body, html{
  overflow-x: hidden;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

main{
  margin-top: 60px !important;
  padding-top: 60px;
  padding-bottom: 120px;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.inline li{
  display: inline-block;
  margin-right: 15px;
  padding-right: 15px;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dark{
  background-color: #000;
}

.dark *{
  color: #fff;
}

a{
  text-decoration: none;
}

p{
  line-height: 1.75;
}

img{
  max-width: 100%;
}

.row.title{

}

.title h2{
  
}

.title h3{

}

.title h4{

}

.btn{
  width: 100%;
  transition: 0.2s ease-in-out;
  transition-property: background-color, color, border;
}

.btn.filled{
  color: #fff;
  background-color: #f00;
}

.btn.filled:hover{
  
}

.btn.hollow{
  background-color: rgba(0,0,0,0);
  color: #000;
  border: 1px solid #000;
}

.btn.hollow:hover{
  color: #fff;
  background-color: rgba(0,0,0,1);
}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}