<app-panel></app-panel>
<main id="dashboard">
  <section id="users" class="users">
    <div class="row title">
      <h3>Users</h3>
    </div>
    <div class="row">
      <div class="col-12">
        <ul>
          <li>
            <h4>Marijn de Smit</h4>
            <p>marijnds@gmail.com</p>
            <p>06-36130338</p>
            <div class="options">
              <button mat-mini-fab class="read"><mat-icon>fullscreen</mat-icon></button>
              <button mat-mini-fab class="delete"><mat-icon>delete</mat-icon></button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <form class="row" name="user" (ngSubmit)="f.user.valid && createUser()" #f="ngForm" novalidate>
    
      <mat-form-field class="col-sm-6" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
        <mat-label> Name </mat-label>
        <input matInput type="text" id="name" name="name" [(ngModel)]="model.name" #name="ngModel" required/>
      </mat-form-field>
  
      <mat-form-field class="col-sm-6" [ngClass]="{ 'has-error': f.submitted && !mail.valid }">
        <mat-label> Email Address </mat-label>
        <input matInput type="mail" id="mail" name="mail" [(ngModel)]="model.mail" #mail="ngModel" required/>
      </mat-form-field>
  
      <mat-form-field class="col-sm-6" [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
        <mat-label>  Phone number </mat-label>
        <input matInput type="number" id="phone" name="phone" [(ngModel)]="model.phone" #phone="ngModel" required/>
      </mat-form-field>

      <mat-form-field class="col-sm-6" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <mat-label> Password </mat-label>
        <input matInput type="password" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
      </mat-form-field>
  
      <div class="col-12">
        <button mat-raised-button (click)="createUser()">Create</button>
      </div>
    </form>
  </section>
  <section id="companies" class="companies">
    <div class="row title">
      <h3>Companies</h3>
    </div>
    <div class="row">
      <div class="col-12">
        <ul>
          <li>
            <h4>Fontys</h4>
            <p>summary</p>
            <div class="options">
              <button mat-mini-fab class="read"><mat-icon>fullscreen</mat-icon></button>
              <button mat-mini-fab class="create"><mat-icon>add</mat-icon></button>
              <button mat-mini-fab class="upate"><mat-icon>edit</mat-icon></button>
              <button mat-mini-fab class="delete"><mat-icon>delete</mat-icon></button>
            </div>
          </li>
        </ul>
        <form id="chat" class="form"></form>
      </div>
    </div>
    <form class="row" name="company" (ngSubmit)="f.company.valid && createCompany()" #f="ngForm" novalidate>
    
      <mat-form-field class="col-sm-6" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
        <mat-label> Name </mat-label>
        <input matInput type="text" id="name" name="name" [(ngModel)]="model.name" #name="ngModel" required/>
      </mat-form-field>

      <mat-form-field class="col-sm-6" [ngClass]="{ 'has-error': f.submitted && !summary.valid }">
        <mat-label> Summary </mat-label>
        <input matInput type="text" id="summary" name="summary" [(ngModel)]="model.summary" #summary="ngModel" required/>
      </mat-form-field>

      <mat-form-field class="col-sm-6" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
        <mat-label> Description </mat-label>
        <input matInput type="text" id="description" name="description" [(ngModel)]="model.description" #description="ngModel" required/>
      </mat-form-field>
  
      <mat-form-field class="col-sm-6">
        <mat-label> Type </mat-label>
        <select matNativeControl id="type" [(ngModel)]="model.type" name="type">
          <option value="" selected disabled hidden>Choose a type</option>
          <option *ngFor="let type of types | enumToArray">{{type}}</option>
        </select>
      </mat-form-field>
  
      <div class="col-12">
        <button mat-raised-button (click)="createCompany()">Create</button>
      </div>
    </form>
  </section>
  <section id="projects" class="projects">
    <div class="row title">
      <h3>Projects</h3>
    </div>
    <div class="row">
      <div class="col-12">
        <ul>
          <li>
            <h5>Marijn de Smit</h5>
            <h6></h6>
            <div class="options">
              <button mat-mini-fab class="read"><mat-icon>fullscreen</mat-icon></button>
              <button mat-mini-fab class="create"><mat-icon>add</mat-icon></button>
              <button mat-mini-fab class="upate"><mat-icon>edit</mat-icon></button>
              <button mat-mini-fab class="delete"><mat-icon>delete</mat-icon></button>
            </div>
          </li>
        </ul>
        <form class="row" name="project" (ngSubmit)="f.project.valid && createProject()" #f="ngForm" novalidate>
    
          <mat-form-field class="col-sm-6" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
            <mat-label> Name </mat-label>
            <input matInput type="text" id="name" name="name" [(ngModel)]="model.name" #name="ngModel" required/>
          </mat-form-field>

          <mat-form-field class="col-sm-6" [ngClass]="{ 'has-error': f.submitted && !summary.valid }">
            <mat-label> Summary </mat-label>
            <input matInput type="text" id="summary" name="summary" [(ngModel)]="model.summary" #summary="ngModel" required/>
          </mat-form-field>

          <mat-form-field class="col-sm-6" [ngClass]="{ 'has-error': f.submitted && !description.valid }">
            <mat-label> Description </mat-label>
            <input matInput type="text" id="description" name="description" [(ngModel)]="model.description" #description="ngModel" required/>
          </mat-form-field>
      
          <mat-form-field class="col-sm-6">
            <mat-label> Type </mat-label>
            <select matNativeControl id="type" [(ngModel)]="model.type" name="type">
              <option value="" selected disabled hidden>Choose a type</option>
              <option *ngFor="let type of types | enumToArray">{{type}}</option>
            </select>
          </mat-form-field>
      
          <div class="col-12">
            <button mat-raised-button (click)="createProject()">Create</button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <section id="contact" class="contact">
    <div class="row title">
      <h3>Contact</h3>
    </div>
    <div class="row">
      <div class="col-sm-3">
        users
      </div>
      <div class="col-sm-9">
        messages
      </div>
      <form id="chat" class="form"></form>
    </div>
    <div class="row">
      <div class="col-12">
        mail
      </div>
    </div>
  </section>
</main>

<app-modal></app-modal>