main{
  margin-left: 400px;
  padding: 0 120px;
}

section{
  margin-bottom: 120px;
}

ul{

}

li{
  position: relative;
}

li h4, li h5, li h6, li p{
  display: inline;
  margin-right: 30px;
}

.options{
  position: absolute;
  top: 0;
  right: 0;
}

.options button{
  display: inline-block;
  margin-left: 15px !important;
}

.options .read{

}

.options .create{

}

.options .update{

}

.options .delete

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 320px) {

}