<header>
  <a href="/home" class="logo"><h2>Marijnds</h2></a>
  <ul>
    <li><a href="/dashboard#users">Users</a></li>
    <li><a href="/dashboard#companies">Companies</a></li>
    <li><a href="/dashboard#projects">Projects</a></li>
    <li><a href="/dashboard#contact">Contact</a></li>
  </ul>
</header>