<app-header></app-header>
<main id="companies" class="container">
  <div class="row title">
    <h2>Companies</h2>
  </div>
  <div class="row animated fade-up">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="item">
        <a href="/project">
          <img src="https://via.placeholder.com/150"/>
          <h5>project</h5>
        </a>
        <div class="hover">
          <div class="vertical-align">
            <p>About the project...</p>
            <a href="/project">Read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="item">
        <img src="https://via.placeholder.com/150"/>
        <h5>project</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="item">
        <img src="https://via.placeholder.com/150"/>
        <h5>project</h5>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="item">
        <img src="https://via.placeholder.com/150"/>
        <h5>project</h5>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>